:root {
  /* bg-colors */
  --primary-bg-color:#E5E5E5;
  --secondary-bg-color:#F5F5F5;
  --price-button-bg-color:#EEEEEE;
  /* border color */
  --border-color:#C4C4C4;
/* colors */
  --primary-black-color:#000000;
  --primary-white-color:#fff;
  --accent-color:#2196f3;
/* text colors */
  --logo-text-color:#939393;
  --primry-text-color:#8f95a5;
  --secondary-text-button-bg-color:#263238;
  --about-us-text-color:#2a3246;
  --price-text-color:#546269;
  /* timing function */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* shadow */
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

body{
  background-color: var(--primary-bg-color);
  color: var(--primry-text-color);
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1378px;
}
.section-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  color: var(--primary-black-color);

}
/* Header */
.header {
  margin-top: 30px;
  margin-bottom: 55px;
}
.header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}

.logo-brit {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: var(--primary-black-color);  
}
.logo-lex {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: var(--logo-text-color);
}

.main-nav-list {
  display: flex;
  margin-left: 236px;
  margin-right: 121px;
}
.main-nav-item+ .main-nav-item {
  margin-left: 50px;
}
.main-nav-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--secondary-text-button-bg-color);
  transition: color 250ms var(--timing-function);
}
.main-nav-link.current {
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}
.header-button {
  border: 2px solid var(--secondary-text-button-bg-color);
  border-radius: 10px;
  margin-left: auto;
  padding: 0;
  width: 312px;
  min-height: 70px;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-black-color);
  transition: background-color 250ms var(--timing-function),
  color 250ms var(--timing-function);
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--accent-color);
}
.header-button:hover,
.header-button:focus {
  background-color: var(--secondary-text-button-bg-color);
  color: var(--primary-white-color);
}
.main-nav-link.current:hover,
.main-nav-link.current:focus {
  color: var(--secondary-text-button-bg-color);
}
/* Hero */
.hero {
  margin-bottom: 180px;
}
.hero-container {
  display: flex;
}
.hero-title-container {
  width: 540px;
  margin-right: 144px;
  position: relative;
}
.hero-title {
  margin: 0px 0px 40px 0px;
  padding: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--primary-black-color);
}
.hero-discription {
  margin: 0px 0px 60px 0px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
.hero-button{
  width: 426px;
  min-height: 100px;
  border: 3px solid var(--secondary-text-button-bg-color);
  border-radius: 10px;
  background-color: var(--secondary-text-button-bg-color);
  font-family: inherit;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function),
  color 250ms var(--timing-function);
}
.hero-icon {
  position: absolute;
  right: 0;
  top: 15%;
  cursor: grab;
  transition: fill 400ms var(--timing-function);
}
.hero-icon:hover{
  fill: yellow;
}
.hero-img-container {
  margin-left: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-bg-color);
  color: var(--primary-black-color);
}
/* Skils */
.skills {
  margin-bottom: 180px;
}
.skills-title {
  text-align: center;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 950px;
}
.skills-list-item {
  border-radius: 10px;
  width: 426px;
  background-color: var(--secondary-bg-color);
}
.speaking {
  grid-area: 1 / 1 / 3 / 2;
  padding: 32px 27px 0px 9px;
}
.speaking-title-container {
  padding: 24px 43px 154px 0px;
}
.writing {
  grid-area: 1 / 2 / 2 / 3;
  padding: 32px 18px 32px 18px;
}
.writing-title-container {
  padding-top: 24px;
  padding-right: 50px;
}
.reading {
  grid-area: 1 / 3 / 2 / 4;
  padding: 33px 18px 32px 18px;
}
.reading-title-container {
  padding-top: 23px;
  padding-right: 50px;
}
.listening {
  width: 882px;
  grid-area: 2 / 2 / 3 / 4;
  display: flex;
  flex-direction: row-reverse;
  padding: 43px 25px 44px 48px;
}
.listening-content {
  width: 430px;
}
.skills-list-title{
  margin: 0px 0px 20px 0px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
  color: var(--secondary-text-button-bg-color);
}
.skills-discription{
  margin: 0px 0px 30px 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.skills-button {
  border: 3px solid var(--secondary-text-button-bg-color);
  border-radius: 10px;
  padding: 0;
  width: 230px;
  min-height: 60px;
  background-color: var(--secondary-text-button-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  color: var(--primary-white-color);
  transition: background-color 250ms var(--timing-function),
  color 250ms var(--timing-function);
}
.skills-button:hover {
  background-color: var(--primary-bg-color);
  color: var(--secondary-text-button-bg-color);
}

/* about us */
.about-us {
  margin-bottom: 180px;
}
.about.container {
  display: flex
}
.about-title-container {
  width: 652px;
  margin-right: 146px;
}
.section-title {
  margin-bottom: 60px;
}

.about-us-discription {
  margin: 0px 0px 30px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: var(--primry-text-color);
}
.example-list {
  display: flex;
}
.example-amount {
  text-align: center;
  margin: 0px 0px 6px 0px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5px;
  color: var(--about-us-text-color);
}
.example-discription{
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

/* Pricing */
.pricing{
  margin-bottom: 180px;
}
.pricing-title {
  text-align: center;
}
.pricing-list{
  display: flex;
  gap: 30px;
}

.pricing-list-item {
  min-height: 584px;
  width: 426px;
  padding: 10px;
}
.pricing-img {
  margin-bottom: 31px;
}

.pricing-title {
  margin: 0px 0px 60px 0px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: var(--secondary-text-button-bg-color);
}
.pricing-description {
  margin: 0px 0px 30px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
.pricing-price {
  display: block;
  border-radius: 5px;
  width: 260px;
  padding: 5px 23px;
  margin: 0px 28px 0px 0px;
  background-color: var(--price-button-bg-color);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: var(--secondary-text-button-bg-color);
}
.price-discription {
  margin-left: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: var(--price-text-color);
}
.pricing-description.small-box {
  margin-bottom: 59px;
}

/* Contact */
.contact {
 margin-bottom: 50px;
}
.contact-container {
  display: flex;
}

.contact-img-container {
margin-right: 144px;
}
.contacts-discription {
  display: block;
  width: 654px;
  margin: 0px 0px 30px 0px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primry-text-color);
}
/* Footer */
.footer {
  border-top: 1px solid var(--border-color);
  padding: 20px;
}
.footer-container {
  display: flex;
  align-items: center;
}
.footer-discription {
  margin-left: auto;
}
.footer-discription-list {
  margin-left: auto;
  display: flex;
  gap: 80px;
}
.footer-discription-text {
  margin: 0;
}